//table
table {
  margin: 0 auto;
  max-width: 50%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  text-align: center;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.actions {
  margin: 3px;
}

.create {
  background-color: var(--green);
  width: 60%;
}

.name {
  min-width: 200px;
  max-width: 400px;
  word-break: break-all;
  word-wrap: break-word;
}
