<div class="main-content">
  <div class="login-form-block">
    <form class="text-center login-form" [formGroup]="loginForm" (submit)="loginSubmit()">
      <div class="login-elements-block">

        <h1 class="login-text">Вхід</h1>
        <div class="form-group">
          <input type="email" placeholder="Введіть пошту" formControlName="email" class="form-control" id="emailForm">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Введіть пароль" formControlName="password" class="form-control"
            id="passwordForm">
        </div>
        <div class="form-group buttons-block">
          <button type="submit" class="btn btn-lg btn-primary form-button" value="submit" name="submit" style="width: 45%;">Увійти</button>
          <button type="button" [routerLink]="['/auth/registration']" class="btn btn-lg btn-primary form-button"
            name="register" style="width: 45%;">Реєстрація</button>
        </div>
      </div>
    </form>
  </div>
</div>