<app-header></app-header>
<div class="background">
    <div class="page">
        <div class="row">
            <div class="column">
                <img src="../../../../assets/avatar.jpg" alt="" class="author_image">
                <h1 class="author_info">{{this.article.author.lastName}} {{this.article.author.firstName}}</h1>
            </div>
            <div class="column">
                <h1 class="article_title"> {{this.article.title}}</h1>
            </div>
        </div>
        <div class="article_body">
            <img [src]="getLinkPicture(this.articleId)" alt="" class="article_body image">
            <p [innerHTML]="this.article.text" class="article_body text"></p>
        </div>

        <div class="comments_block">

            <h2>Коментарі</h2>
            <mat-form-field class="example-full-width">
                <mat-label>Залиште свій коментар</mat-label>
                <textarea rows="4" matInput placeholder="Хм, що ж мені написати?.." class="textarea_color"
                    #comment_text></textarea>
            </mat-form-field>
            <button class="button" (click)="addComment(comment_text)"><span>Надіслати</span></button>

            <div *ngIf="this.article.comments">
                <div class="comment" *ngFor="let c of this.comments">
                    <h1 class="texth1">
                        <img src="../../../../assets/world_map.jpg" alt="" class="avatar">
                        {{c.author.lastName}} {{c.author.firstName}} {{c.date | date:'shortDate'}}
                    </h1>
                    <p>
                        {{c.text}}
                    </p>
                </div>
                <mat-paginator [length]="this.article.comments.length" [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
                </mat-paginator>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>