<app-header></app-header>
<div class="background">
  <div class="page">
    <div class="excursion_block">
      <img [src]="getLinkPicture(this.excursion.id)" alt="">
      <h1> {{this.excursion.name}} </h1>
      <p [innerHTML]="this.excursion.description"></p>
      <h2>Місць залишилось: {{this.excursion.numberOfSeats}}</h2>
      <div class="button_div">
        <button class="button" (click)="openDialog()" *ngIf="haveSeats"><span>Забронювати</span></button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>