<app-header></app-header>
<div class="background">
  <div class="page">
    <mat-tab-group mat-align-tabs="center" *ngIf="this.category">
      <div *ngFor="let cat of this.category">
        <mat-tab label={{cat.name}}>

          <div *ngIf="cat.excursions">
            <div class="row">
              <div class="column" *ngFor="let ex of cat.excursions">
                <mat-card class="example-card" (click)="goToExcursion(ex.id)">
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting. 
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                  <!-- <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header> -->
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
</div>
<app-footer></app-footer>