<div class="main-content">
  <div class="login-form-block">
    <form class="text-center login-form" [formGroup]="registerForm" (submit)="registrationSubmit()">
      <div class="login-elements-block">

        <h1 class="login-text">Реєстрація</h1>
        <div class="form-group">
          <input type="text" placeholder="Введіть нікнейм" formControlName="username" class="form-control"
            id="userNameForm">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Введіть ім'я" formControlName="firstName" class="form-control"
            id="firstNameForm">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Введіть прізвище" formControlName="lastName" class="form-control"
            id="lastNameForm">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Введіть вік" formControlName="age" class="form-control" id="ageForm">
        </div>
        <div class="form-group">
          <input type="email" placeholder="Введіть пошту" formControlName="email" class="form-control" id="emailForm">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Введіть пароль" formControlName="password" class="form-control"
            id="passwordForm">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Підтвердіть пароль" formControlName="confirmedPassword"
            class="form-control passwordForm">
        </div>
        <div class="form-group buttons-block">
          <button type="submit" class="btn btn-lg btn-primary form-button" value="submit"
            name="submit">Зареєструватися</button>
        </div>
        <a class="badge" [routerLink]="['/auth/login']">Вхід</a>
      </div>
    </form>
  </div>
</div>