<app-header></app-header>

<div class="page">
  <div class="article_block">
    <div class="article_body">
      <h1 class="article_title">TITLE</h1>
    </div>
    <div class="border_info">
      <div class="row">
        <div class="column">
          <img src="../../../../assets/test.jpg" alt="Snow" class="article_image">
        </div>
        <div class="column">
          <h1 class="description_title">Короткий зміст</h1>
          <p class="description_text">
            texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
          </p>
          <h1 class="category_title">Категорія</h1>
          <p class="category_text">texttexttext</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>