<section class="cabinet-content" [ngClass]="{'is-blurred': isDialogOpen}">
  <app-cabinet-header></app-cabinet-header>
  <mat-drawer-container class="example-container cabinet-drawer-container">
    <mat-drawer mode="side" opened>
      <app-cabinet-nav></app-cabinet-nav>
    </mat-drawer>
    <mat-drawer-content *ngIf="this.pageForm">
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-md-9  col-lg-10 px-md-4">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Налаштування</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
              </div>
            </div>
            <form [formGroup]="pageForm" (submit)="onSubmit()">
              <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" formControlName="email" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group">
                <label for="name">Імя</label>
                <input type="text" formControlName="firstName" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="surname">Прізвище</label>
                <input type="text" class="form-control" formControlName="lastName" id="surname">
              </div>
              <div class="form-group">
                <label for="inputCity">Вік</label>
                <input type="text" class="form-control" formControlName="age" id="inputCity">
              </div>
              <div class="form-group">
                <label for="inputState">Нікнейм</label>
                <input type="text" class="form-control" formControlName="userName" id="inputState">
              </div>
              <div class="form-group">
                <label for="inputZip">Номер телефону</label>
                <input type="text" class="form-control" formControlName="phoneNumber" id="inputZip">
              </div>
              <button type="button" class="btn btn-primary" (click)="toogleForm()" *ngIf="!isFormEnabled">Змінити</button>
              <button type="submit" class="btn btn-success" *ngIf="isFormEnabled">Зберегти</button>
              <button type="button" class="btn btn-danger" (click)="changePassword()">Змінити пароль</button>
            </form>
          </main>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>