<section class="cabinet-content">
  <app-cabinet-header></app-cabinet-header>
  <mat-drawer-container class="example-container cabinet-drawer-container">
    <mat-drawer mode="side" opened>
      <app-cabinet-nav></app-cabinet-nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Технічна підтримка</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
              </div>
            </div>
            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Виберіть причину</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1. Проблеми з екскурсіями</option>
                  <option>2. Проблеми з статтями</option>
                  <option>3. Проблеми з кабінетом</option>
                  <option>4. Інше</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Текст</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" [textContent]="text"
                  rows="3"></textarea>
              </div>
              <button type="button" (click)="click()" class="btn btn-primary">Відправити</button>
            </form>
          </main>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>