.footer {
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 50;
}

.footer-menu {
  margin: 0 auto;
}

.footer:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #ffa52e;
  border-top: solid 5px;
  border-color: #a06206;
  z-index: 2;
}

.footer-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.menu-points-list {
  display: flex;
  position: relative;
  z-index: 2;
  margin: 0;

  li {
    padding: 0 25px;
  }
}

.footer-link {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);

  &:hover {
    color: #ffbc00;
  }
}

@media (max-width: 768px) {
  .footer-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    background: linear-gradient(238deg, #44818f -20%, #3f424d 70%);
    backdrop-filter: blur(3px);
    padding: 70px 10px 20px 10px;
    transition: all 0.2s ease 0s;
  }
}