<app-header></app-header>
<div class="background">
  <div class="page">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Тематика">
        <app-topics-table></app-topics-table>
      </mat-tab>
      <mat-tab label="Категорії">
        <app-categories-table></app-categories-table>
      </mat-tab>
      <mat-tab label="Статті">
        <app-articles-table></app-articles-table>
      </mat-tab>
      <mat-tab label="Екскурсії">
        <app-excursion-table></app-excursion-table>
      </mat-tab>
      <mat-tab label="Користувачі">
        <app-users-table></app-users-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-footer></app-footer>