//table
table {
  margin: 0 auto;
  max-width: 80%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  text-align: center;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: rgb(255 255 255 / 87%);
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: var(--orange);
}
  
.actions {
  margin: 3px;
}

.create {
  background-color: var(--green);
  width: 60%;
}

.name {
  min-width: 200px;
  max-width: 400px;
  word-break: break-all;
  word-wrap: break-word;
}
