//conteiner
.column {
  float: left;
  width: 33%;
  padding: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
//

.example-card {
  max-width: 600px;
  margin: 0 auto;
  margin: 5%;
  word-wrap: break-word;
}

.tabs{
  margin-top: 80px;
}