.main-content {
  background: url(../../../assets/world_map.jpg) 0 0/100% 100% no-repeat fixed;
}

.page {
  padding-top: 80px;
  padding-bottom: 1px;
  backdrop-filter: blur(4px);
  min-height: calc(100vh - 70px);
}