.cancel {
  color: var(--green);
}

.example-form {
  min-width: 150px;
  max-width: 750px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.textarea1 {
  min-height: 50px;
}

.textarea2 {
  min-height: 120px;
}

div.mat-dialog-actions {
  justify-content: center;
}